.line {
  border: 2px solid black;
  border-radius: 20px;
  overflow: hidden;
}

.container {
  max-width: 300px;
  margin: 0 auto;
}

.information {
  padding-top: 15px;
  padding-bottom: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 15px;
}

.background {
  background-color: black;
  border-radius: 50%;
}

.list {
  display: flex;
  background-color: lightgray;
  border-top: 2px solid grey;
}

.item {
  padding: 20px;
  display: flex;
  gap: 5px;
  flex-direction: column;
  width: 100%;
}

.item:not(:last-child) {
  border-right: 2px solid grey;
}

.font {
  font-weight: 600;
}

.colorText {
  color: grey;
}
