.container {
  margin: 0 auto;
  padding-top: 100px;
}

.animalsList {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.animalsItem {
  border: 1px solid black;
  border-radius: 5px;
  padding: 8px;
}
